root {
    padding: 0;
    margin: 0;
}

.hero {
    position: relative;
}

.test {
    position: absolute;
    top: 40%;
    left: 35%;
}

@media screen and (min-width: 522px) {
    .hero {
        position: relative;
    }
    
    .test {
        position: absolute;
        top: 40%;
        left: 45%;
    }
}

/* @media screen and (max-width: 1444px) {
    .bg .mybtn {
        position: fixed;
        top: 190px;
        left: 351px;
    }
} */



